# Coypright (C) 2025, Qingsong Gou <gouqs@hotmail.com>
# SPDX-License-Identifier: Apache-2.0

menu "Drivers"

rsource "clock_control/Kconfig"
rsource "gpio/Kconfig"
rsource "i2c/Kconfig"
rsource "pinctrl/Kconfig"
rsource "serial/Kconfig"

endmenu
